@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --primary-color: #FFDE59;
    --secondary-color: #DBC07B;
    --tertiary-color: #DECC9E;
    --header-color: #877956;
    --text-input-background: #DADADA;
    --text-input-dark: #DADADA;
    --text-color-dark: black;
    --placeholder-text-color: rgba(0, 0, 0, 0.5);
    --site-padding: 20px;
}

*{
    box-sizing: border-box;
    margin: 0;
}

header a:hover, header a:visited, header a:link, header a:active {
    text-decoration: none;
}

body, html {
    min-height: 100dvh;
    width: 100dvw;
    min-width: 320px;
    background-color: var(--secondary-color);
    margin: 0;
    font-family: 'Inter';
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.site-container {
    margin: 0 auto;
    width: 1080px;
    max-width: 100%;
    min-height: inherit;
    background-color: var(--tertiary-color);
}

.site-body {
    width: 100%;
    padding: var(--site-padding);
    gap: 40px;
}

.card-image {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}

input {
    outline: none;
    text-decoration: none;
    border: 0;
}

@media (max-width: 1280px) {
    :root {
        --primary-color: black;
        --secondary-color: #9BA4FD; 
        --tertiary-color: #DEE3F6;
        --header-color: #565D87;
        --text-color-dark: white;
        --text-input-dark: black;
    }

}

@media (max-width: 640px){

    .card-image {
        max-width: 225px;
        max-height: 225px;
    }
}