@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.header {
    width: 100%;
    min-height: 207px;
    background-color: var(--header-color);
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 24px;
}

.header-top {
    position: relative;
    padding: 20px;
    flex-grow: 1;
    justify-content: space-between;
    gap: 20px;
}

.header-user {
    gap: 20px;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.header-user t {
    color: var(--text-color-dark);
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.logo-padding {
    max-width: 100%;
}

.logo {
    position: relative;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    min-width: fit-content;
    padding: 20px;
    width: 224px;
    max-width: 100%;
    min-height: 92px;
    transform: translate(-10px, -10px);
}

.logo::before, .logo::after {
    content: "";
    position: absolute;
    background-color: rgb(from var(--primary-color) r g b / 50%);
    width: 100%;
    height: 100%;
}

.logo::before{
    top: 10px;
    left: 10px;
}

.logo::after {
    top: 20px;
    left: 20px;
}

.logo t{
    z-index: 2;
    font-family: 'Jaro';
    font-size: 28px;
    font-weight: 700;
    color: var(--text-color-dark);
}

.header-bottom {
    padding: 10px 20px;
    width: 100%;
    min-height: 60px;
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: stretch;
}

.icon-container {
    display: grid;
    place-items: center;
}

.header-action {
    flex: 1 1 0;
    gap: 10px;
    justify-content: center;
}

.search-icon {
    display: grid;
    place-items: center;
}

.search-bar {
    background-color: var(--text-input-background);
    border-radius: 2px;
    padding: 5px 10px;
    color: black;
    justify-content: flex-start ;
}

.search-form::placeholder {
    color: var(--placeholder-text-color);
}

.material-symbols-outlined {
    --fill: 0;
    --weight: 400;
    --grad: 0;
    --opsz: 24;

    font-variation-settings:
    'FILL' var(--fill),
    'wght' var(--weight),
    'GRAD' var(--grad),
    'opsz' var(--opsz);

    font-size: 34px;
}


.header-action:hover:not(.search-bar), .search-icon:hover {
    cursor: pointer;
}

.header-action:hover:not(.search-bar) .material-symbols-outlined, .search-icon:hover .material-symbols-outlined{
    --fill: 1;
    --weight: 700;
}

.search-form {
    flex-grow: 1;
}

.search-bar-input {
    text-decoration: none;
    border: none;
    font-size: 24px;
    font-family: 'Inter';
    background-color: transparent;
    width: 100%;
}

@media (max-width: 640px) {
    .header-bottom {
        flex-direction: column;
        align-items: stretch;
    }

    .header-action {
        justify-content: flex-start;
    }

    .header-top {
        flex-wrap: wrap;
    }

    .logo-padding {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 100%;
        order: -1;
    }

    .hidden {
        display: none;
    }

}
